@import "./common.css";

/* Styles personnalises */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.fade-in { animation: fadeIn 0.3s ease-in-out; }
@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
.tab-content { display: none; }
.tab-content.active { display: block; }
.nav-btn.active { color: #11183b; background-color: #eff6ff; }
.dark .nav-btn.active { color: #fff; background-color: #1e293b; }

.nav-btn:focus-visible {
    outline: 2px solid #60a5fa;
    outline-offset: 2px;
}
.nav-btn.active svg { stroke-width: 2.5px; transform: scale(1.1); }
/* Banner Animation */
.slide-up { animation: slideUp 0.5s ease-out forwards; }
@keyframes slideUp { from { transform: translateY(100%); opacity: 0; } to { transform: translateY(0); opacity: 1; } }

/* Simulateur */
.slide-in { animation: slideIn 0.3s ease-out; }
@keyframes slideIn { from { transform: translateX(100%); } to { transform: translateX(0); } }
input[type=number] { -moz-appearance: textfield; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
